<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="pl.dreamteam.cc.client"/>

    <bean class="pl.dreamteam.cc.client.ServiceFactory">
        <property name="consultantService" ref="consultantService"/>
    </bean>

    <bean id="consultantService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="rmi://localhost:1199/ConsultantService"/>
        <property name="serviceInterface" value="pl.dreamteam.cc.service.ConsultantService"/>
    </bean>
</beans>